<div class="flex font-kufi">
  <aside
    class="bg-gradient-to-bl from-dark-purple to-blue-500 fixed pt-8 right-0 top-0 h-screen p-4 duration-500 items-center hidden sm:block"
    [ngClass]="open ? 'w-60 ' : 'w-20'"
  >
    <mat-icon
      class="bg-white text-dark-purple rounded-md hover:-translate-y-0.5 transform transition focus:ring focus:ring-offset-2 absolute -left-3 top-9 border border-dark-purple cursor-pointer"
      (click)="open = !open"
      [ngClass]="{ 'rotate-180': open }"
      >keyboard_arrow_left</mat-icon
    >
    <div class="flex justify-center my-2">
      <img src="../assets/photos/Group 2723@3x.png" width="150" class="" />
    </div>
    <hr />

    <!-- <div class="inline-flex py-8">
      <h1
        class="text-white absolute right-0 text-2xl font-semibold"
        [ngClass]="{ hidden: !open }"
      >
        {{ title }}
      </h1>
    </div> -->
    <div
      class="flex items-center rounded-md bg-light-white mt-6 px-4 py-2"
      [ngClass]="{ hidden: !open }"
    >
      <mat-icon class="text-white text-lg block cursor-pointer mr-2"
        >search</mat-icon
      >
      <input
        type="search"
        placeholder="...بحث"
        class="text-base bg-transparent w-full text-white focus:outline-none text-right"
      />
    </div>
  </aside>
  <main
    class="flex-1 sm:mr-60 transition duration-500"
    [ngClass]="open ? 'lg:mr-60 ' : 'lg:mr-20'"
  >
    <div class="bg-light-white">
      <nav>
        <div class="m-8 py-4 grid grid-rows-2 grid-flow-col items-center gap-4">
          <div class="col-span-6 row-span-1 text-right text-dark-purple">
            {{ authedUser }}
          </div>
          <div class="col-span-6 row-span-1 text-right text-dark-purple">
            {{ jobTitle }}
          </div>
          <div class="col-span-2 row-span-2">
            <mat-icon class="nav-icon">image</mat-icon>
          </div>
          <div class="col-span-2 row-span-2">
            <mat-icon class="nav-icon">notifications</mat-icon>
          </div>
          <div class="col-span-2 row-span-2">
            <mat-icon class="nav-icon"> message</mat-icon>
          </div>
          <div class="col-span-8 row-span-2">
            <div
              class="flex items-center rounded-md bg-light-white focus-within:ring focus-within:ring-offset-2"
            >
              <mat-icon class="nav-icon text-2xl block mr-2">search</mat-icon>
              <input
                type="search"
                placeholder="...بحث"
                class="text-lg bg-transparent w-full text-dark-purple focus:outline-none text-right"
              />
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div
      class="grid py-4 px-4 justify-center w-full lg:grid-cols-2 sm:grid-cols-1 sm:gap-10"
    >
      <div
        *ngFor="let chartOptions of chartsOptions"
        class="h-full shadow-lg bg-light-white lg:px-12 xl:px-16 transition ease-in-out delay-150 hover:-translate-y-0.5 hover:scale-105 hover:ring hover:ring-offset-2 duration-300"
      >
        <app-chart [chartOptions]="chartOptions"></app-chart>
      </div>
    </div>
  </main>
</div>
