@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Noto+Kufi+Arabic:wght@200;400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply text-dark-purple cursor-pointer hover:-translate-y-0.5 transform transition focus:ring focus:ring-offset-2;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Kufi Arabic", Roboto, "Helvetica Neue", sans-serif;
}
.red-snackbar {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #f23a2f;
  --mdc-snackbar-container-color: #ffffff;
  text-align: right;

  justify-content: center;
}
.green-snackbar {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #43a446;
  --mdc-snackbar-container-color: #ffffff;
  text-align: right;
  justify-content: center;
}
